{% extends 'base.html' %}
{% block title_block %} Profile {% endblock %}
{% block body_block %}
{% if messages %}
    {% for message in messages %}
        <center class='text-danger'>{{message}}</center>
    {% endfor %}
{% endif %}
{% if user.first_name %}
<h3 class="offset-5">{{user.first_name }}'s Profile</h3>
{% else %}
<h2 class="offset-5">Profile</h2>
{% endif %}
<hr>
<br>
<div class="row shadow p-3 mb-5 rounded" style="box-shadow: 0 .5rem 1rem rgba(230, 35, 21, .25)!important;}">
    <div class="col-md-3 offset-md-1 shadow p-3 mb-5 rounded">
        {% if user.user_profile %}
            <img src='/media/{{user.user_profile.profile_pic}}' class="rounded-circle" width="100%" height="80%">
            <br>
            <br>
            <center class="text-center">
                <a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
            </center>
            <br>
        {% else %}
            <img src='/media/profile_pics/avatar-male.jpg' class="rounded-circle" width="100px">
            <br>
            <br>
            <a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
        {% endif %}
    </div>
    <div class="col-md-6 offset-md-1 shadow p-3 mb-5 rounded text-center">
        <p style="">Username: <span>@{{ user.username }}</span> </p>
    <p style="">Email: {{ user.email }}</p>
    <p style="">Name: {{user.first_name }} {{ user.last_name }}</p><hr>
    <br><br><br><br>
    <a href="{% url 'App_Login:user_change' %}" class="btn btn-warning btn-sm">Change Profile Info</a>
    </div>
    <div class="row">
        <div class="text-center">
            <a href="{% url 'index' %}" class="btn btn-danger btn-sm text-center">Go Back</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}
