{% extends 'base.html' %}
{% block title_block %} Profile {% endblock %}
{% block body_block %}
{% if messages %}
    {% for message in messages %}
        <center class='text-danger'>{{message}}</center>
    {% endfor %}
{% endif %}
<h2 class="offset-5">Your Profile</h2> <hr>
<br>
<div class="row">
    <div class="col-md-3 offset-md-1 shadow p-3 mb-5 rounded">
        {% if user.user_profile %}
            <img src='/media/{{user.user_profile.profile_pic}}' class="rounded-circle" width="100%" height="80%">
            <br>
            <br>
            <center class="text-center">
                <a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
            </center>
            <br>
        {% else %}
            <img src='/media/profile_pics/avatar-male.jpg' class="rounded-circle" width="100px">
            <br>
            <br>
            <a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
        {% endif %}
    </div>
    <div class="col-md-6 offset-md-1 shadow p-3 mb-5 rounded">
        <p style="">Username: <span>@{{ user.username }}</span> </p>
    <p style="">Email: {{ user.email }}</p>
    <p style="">Name: {{user.first_name }} {{ user.last_name }}</p>
    <br>
    <a href="{% url 'App_Login:user_change' %}" class="btn btn-warning btn-sm">Change Profile Info</a>
    <a href="{% url 'index' %}" class="btn btn-danger btn-sm">Back</a>
    </div>
</div>

        </div>
    <div class="col-6 offset-2"><br><br>
        </div>
    </div>
    
    
{% endblock %}
